<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item active">Boleta</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-3">

      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          <img src="assets/img/CIAU TAH.png" alt="Profile">
          <h2>Ciau Tah</h2>
          <h3>Alan Mauricio</h3>

        </div>
      </div>

    </div>

    <div class="col-xl-9">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

          </ul>
          <div class="tab-content pt-2">
            <div class="tab-pane fade show active profile-overview" id="doctos">

              <section id="accesos_index" class="featured-services">
                <br>
                <div class="container" data-aos="fade-up">
                  <div class="section-title">
                    <label for="motivos"><b>*Selecciona el cuatrimestre:</b> </label>
                    <select id="cuatrimestre">
                      {{#each cuatrimestres}}
                        <option>{{ this }}</option>
                      {{/each}}
                  </div>
                  </select>
                  <br>
                  <br>
                  <button type="button" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-cloud-download" viewBox="0 0 16 16">
                      <path
                        d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z">
                      </path>
                      <path
                        d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z">
                      </path>
                    </svg>
                    Descargar boleta
                  </button>

                  <br><br>
                  <div class="row">

                    <table class="table table-bordered border-primary">
                      <thead>
                        <tr>
                          <th scope="col">
                            <center>NOMBRE DEL ALUMNO</center>
                          </th>
                          <th scope="col">
                            <center>MATRÍCULA</center>
                          </th>
                          <th scope="col">
                            <center>CARRERA</center>
                          </th>
                          <th scope="col">
                            <center>GRUPO</center>
                          </th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CIAU TAH ALAN MAURICIO</th>
                          <td>20090097</td>
                          <td>T.S.U. EN<br><b>TECNOLOGÍAS DE LA INFORMACIÓN ÁREA DESARROLLO DE
                              SOFTWARE MULTIPLATAFORMA</b></td>
                          <td>6-"A"</td>


                      </tbody>
                    </table>


                    <table class="table table-bordered border-primary">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">ASIGNATURA</th>
                          <th scope="col">
                            <center>Calif.<br>Decimal</center>
                          </th>
                          <th scope="col">
                            <center>Calif.<br>*Competencias</center>
                          </th>
                          <th scope="col">
                            <center>Competencia</center>
                          </th>
                          <th scope="col">
                            <center>%<br>Asistencia</center>
                          </th>
                          <th scope="col">
                            <center>Opción<br>evaluación</center>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td align="left">Matemáticas Financieras</td>
                          <td>9.6</td>
                          <td>9.0</td>
                          <td>CD</td>
                          <td>90%</td>
                          <td>ORDINARIO</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td align="left">Estadística Aplicada a la Administración</td>
                          <td>9.9</td>
                          <td>10.0</td>
                          <td>CA</td>
                          <td>100%</td>
                          <td>ORDINARIO</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td align="left">Modelos de Desarrollo Organizacional</td>
                          <td>9.9</td>
                          <td>10.0</td>
                          <td>CA</td>
                          <td>100%</td>
                          <td>ORDINARIO</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td align="left">Metodología de la Investigación</td>
                          <td>8.5</td>
                          <td>8.0</td>
                          <td>CO</td>
                          <td>80%</td>
                          <td>RECUPERATIVO</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td align="left">Contabilidad Intermedia</td>
                          <td>8.9</td>
                          <td>9.0</td>
                          <td>CD</td>
                          <td>95%</td>
                          <td>ORDINARIO</td>
                        </tr>
                        <tr>
                          <th scope="row">6</th>
                          <td align="left">Fundamentos de Economía</td>
                          <td>9.5</td>
                          <td>9.0</td>
                          <td>CD</td>
                          <td>100%</td>
                          <td>ORDINARIO</td>
                        </tr>
                        <tr>
                          <th scope="row">7</th>
                          <td align="left">Diseño de Procesos y Gestión de Calidad</td>
                          <td>8.6</td>
                          <td>8.0</td>
                          <td>CO</td>
                          <td>100%</td>
                          <td>ORDINARIO</td>
                        </tr>
                        <tr>
                          <th scope="row">8</th>
                          <td align="left">Inglés II</td>
                          <td>9.0</td>
                          <td>9.0</td>
                          <td>CD</td>
                          <td>100%</td>
                          <td>ORDINARIO</td>
                        </tr>
                        <tr>
                          <th scope="row">9</th>
                          <td align="left">Formación Sociocultural II</td>
                          <td>9.3</td>
                          <td>9.0</td>
                          <td>CD</td>
                          <td>100%</td>
                          <td>ORDINARIO</td>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td colspan="2" td align="right"><b>Promedio: </b></td>
                          <td><b>9.7</b></td>
                          <td colspan="3" td align="center">Calificación por competencias para
                            certificación<br>*Descripción en la parte posterior de esta
                            boleta</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>

                </div>

              </section>

            </div>

          </div><!-- End Bordered Tabs -->

        </div>
      </div>
    </div>
  </div>
</section>