<section class="section profile">
  <div class="row">

    <div class="col-xl-12">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->

          <div>
            <input type="hidden" value="{{numeroalumno}}" id="numeroalumno">
          </div>

          <div class="tab-content pt-2">
            <div class="tab-pane fade show active profile-overview" id="doctos">
              <section id="accesos_index" class="featured-services">

                <div class="container" data-aos="fade-up">
                  
                  <div class="section-title py-4">
                    <label for="motivos"><b>*Selecciona el cuatrimestre:</b> </label>
                    <select class="form-control" style="width: 300px;" id="filterDocto">
                      <option disabled selected>--Haga una elección--</option>
                      <option value="0">Doctos de registro</option>
                      <option value="1">Cuatrimestre 1</option>
                      <option value="2">Cuatrimestre 2</option>
                      <option value="3">Cuatrimestre 3</option>
                      <option value="4">Cuatrimestre 4</option>
                      <option value="5">Cuatrimestre 5</option>
                      <option value="6">Cuatrimestre 6</option>
                      <option value="7">Cuatrimestre 7</option>
                      <option value="8">Cuatrimestre 8</option>
                      <option value="9">Cuatrimestre 9</option>
                      <option value="10">Cuatrimestre 10</option>
                      <option value="11">Cuatrimestre 11</option>
                    </select>
                  </div>

                  <div class="row" id="content">

                  </div>

                </div>

              </section>
            </div>
          </div><!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/functions/getDoctos.js"></script>