<section>

  <div class="pb-3">
    {{>btnBack}}
  </div>

  <div class="card">
    <div class="card-title text-center">
      <h1>Calificaciones del grupo: {{codigo_grupo}}</h1>
    </div>

    <div>
      <input type="hidden" id="codigo_grupo" value="{{codigo_grupo}}">
    </div>

    <div class="card-body">

      <div class="row">

        <div class="col-md-3">
          <label for="plan" class="form-label">Plan de estudio</label>
          <select name="plan" id="plan" class="form-select" >
            <option disabled selected>-Seleccione un plan-</option>
            {{#each planes}}
              <option value="{{ ID_PLAN }}">{{ ID_PLAN }}</option>
            {{/each}}
          </select>
        </div>

        <div class="col-md-3">
          <label for="evaluacion" class="form-label">Evaluación</label>
          <select id="evaluacion" class="form-select">
            <option disabled selected>Seleccione un plan</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="asignatura" class="form-label">Asignatura</label>
          <select id="asignatura" class="form-select">
            <option disabled selected>Seleccione la evaluación</option>
          </select>
        </div>

        <div class="col-md-2 pt-4">
          <button class="btn btn-outline-primary" title="reiniciar busqueda">
            <i class="bi bi-arrow-counterclockwise"></i>
          </button>
        </div>

        <div class="col-md-6 pt-3">
          <label class="form-label">Subir</label>
          <div class="d-flex">
            <input type="file" class="form-control" id="input">
            <button class="btn btn" title="Subir">
              <i class="bi bi-arrow-bar-up"></i>
            </button>
          </div>
        </div>

      </div>

      <hr>

      <div class="pt-2">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Matricula</th>
              <th>Calif. Ordinario</th>
            </tr>
          </thead>
          <tbody id="table-body">
          </tbody>
        </table>
      </div>

    </div>

  </div>
</section>

<script src="/js/helpers/ReadExcel.js"></script>
<script src="/js/services/admin/setCalifi.js"></script>