<section>
  <div class="container d-none" id="container">
    <div class="card">

      <div class="card-title">
        <div class="w-25 p-2">
          <label for="nivel">Eliga una carrera</label>
          <select class="form-control" id="nivel" onchange="carreraSelected(this.value)">
            <option selected disabled>---</option>
            {{#each niveles}}
            <option value="{{NIVEL}}">{{ACUERDO}} {{DESCRIPCION}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      
      <div class="card-body"></div>

    </div>
  </div>
  <div id="preloader"></div>
</section>

<script src="js/functions/getDoctosAdmin.js"></script>