<section>
  <div class="mb-3 d-flex justify-content-between align-items-center">
    {{>btnBack}}
    
    <div>
      <button onclick="descargarTablaExcel()" id="botonDescargarExcel" type="button" class="btn btn-success">
        <i class="bi bi-file-earmark-excel"></i>
        Descargar
      </button>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <div id="datosProfesor" class="card-title">
        <h1 class="text-center">Calificaciones</h1>
        <h4><b>Mtro:</b> {{profe.NOMBREPROFESOR}}</h4>
        <h4 id="asig"> Asignatura </h4>
        <h4 id="grupo"> Grupo </h4>
      </div>

      <select id="idPlan" class="form-select">
        {{#each evals}}
          <option value="{{ID_EVAL}}">{{DESCRIPCION}}</option>
        {{/each}}
      </select>
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Matricula</th>
            <th>Calificación</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody id="table-content"></tbody>
      </table>
      <div id="loading" class="text-center">
        <div class="spinner-border" role="status"></div>
      </div>
    </div>
  </div>

</section>


<script src="/js/FileSaver.js"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="/js/services/profe/exportarExcel.js"></script>
<script src="/js/services/admin/getVerCalificacion.js"></script>