<section>
    <div class="mb-3">
    {{>btnBack}}
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-title text-center">
        <h1>Ver Calificaciones</h1>
        <h4>Mtro </h4>
        <h4> Asignatura </h4>
        <h4> Grupo </h4>
      </div>
      </div>
      </div>
    

</section>

<script src="/js/services/admin/getProfesoresAsig.js"></script>
