<section>
  <input type="hidden" id="idprofesor" value="{{CLAVEPROFESOR}}" />
  <div class="mb-3">
    {{>btnBack}}
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-title text-center">
        <h1>Asignación de grupos </h1>
        <h4> Mtro. {{NOMBREPROFESOR}}</h4>
      </div>
      <div class="flex-fill">
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="bi bi-search"></i>
            </span>
          </div>
          <input
            type="search"
            class="form-control"
            placeholder="Buscar"
            id="buscar"
          />
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre de la asignatura</th>
            <th>Grupo</th>
          </tr>
        </thead>
        <tbody id="table-content"></tbody>
      </table>

      <div>
        <button class="btn btn-primary" onclick="onPrev()"> </button>
        <button class="btn btn-primary" onclick="onNext()"> > </button>
      </div>

    </div>
  </div>
</section>

<script src="/js/services/admin/getProfesoresAsig.js"></script>