<section class="section">

  <div class="pb-3">
    {{>btnBack}}
  </div>

  <form action="">
    <div class="row">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Agregar carrera</h1>

            <div class="row g-3">
              <div class="col-md-6">
                <label for="paterno" class="form-label">Clave o identificador</label>
                <input type="text" id="paterno" name="paterno" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="nombre" class="form-label">Acuerdo de creacion</label>
                <input type="text" id="nombre" name="nombre" class="form-control">
              </div>
              <div class="col-md-12">
                <label for="materno" class="form-label">Descripcion del nivel</label>
                <input type="text" id="materno" name="materno" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="fech_nacimiento" class="form-label">Fecha </label>
                <input type="date" id="fech_nacimiento" name="fech_nacimiento" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="estado-nacimiento" class="form-label">Zona Escolar</label>
                <input type="text" id="fech_nacimiento" name="fech_nacimiento" class="form-control">
              </div>

              <div class="col-md-6">
                <label for="estado-nacimiento" class="form-label">Denominacion del grado</label>
                <input type="text" id="fech_nacimiento" name="fech_nacimiento" class="form-control">
              </div>

              <div class="col-md-6">
                <label for="estado-nacimiento" class="form-label">Serie para asignacion de matriculas</label>
                <input type="text" id="fech_nacimiento" name="fech_nacimiento" class="form-control">
              </div>

              <div class="col-md-6">
                <label for="estado-nacimiento" class="form-label">Rango de grados permitidos</label>
                <div class="d-flex flex-row">
                  <div class="d-flex flex-row align-items-center">
                    <label class="form-label">Del</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="d-flex flex-row align-items-center" style="margin-left: 3%;">
                    <label class="form-label">Al</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="text-center pb-3">
            <button class="btn btn-outline-primary">Agregar carrera</button>
          </div>
        </div>

      </div>
  </form>
</section>