<section class="container">
  <div class="card">
    <div class="card-body">
      <div class="body-title text-center">
        <h1>Planes de Estudio</h1>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Etapa</th>
              <th>Clave asignatura</th>
              <th>Nombre asignatura</th>
              <th>Tipo de evaluación</th>
            </tr>
          </thead>
          <tbody id="table-content"></tbody>
        </table>
        <div>
          <button class="btn btn-primary" onclick="onPrev()"> < </button>
          <button class="btn btn-primary" onclick="onNext()"> > </button>
        </div>
      </div>
    </div>
  </div>

</section>

<script src="/js/functions/getPlanes.js"></script>