{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sesión Correcta de Registro</title>
  <!-- Enlace a Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">¡Sesión Correcta de Registro!</h4>
      <p>Bienvenido/a a nuestro sitio. Tu registro ha sido exitoso.</p>
        <a href="/login">Iniciar Sesión</a>
      

      
    </div>
  </div>

  <!-- Enlace a Bootstrap JS (opcional, solo si necesitas funcionalidad de Bootstrap) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> --}}
