<style>
    .padre {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
</style>

<div class="padre">
    <div class="hijo">
        <div>
            
        </div>
        <div>
            <span>20% Inscritos</span>
        </div>
    </div>
</div>