<section>
  <input type="hidden" id="idPlan" value="{{idPlan}}">
  <div class="pb-3">
    {{>btnBack}}
  </div>

  <div class="card">
    <div class="card-body">
      <div class="card-title text-center">
        <h1>Evaluacion Plan</h1>
      </div>
      <div class="flex-fill">
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="bi bi-search"></i>
            </span>
          </div>
          <input
            type="search"
            class="form-control"
            placeholder="Buscar"
            id="buscar"
          />
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Clave Asignatura</th>
            <th>ID eval</th>
            <th>Nombre Corto</th>
            <th>Descripcion</th>
          </tr>
        </thead>
        <tbody id="table-content"></tbody>
      </table>
      <div>
        <button class="btn btn-primary" onclick="onPrev()"> <
        </button>
        <button class="btn btn-primary" onclick="onNext()"> > </button>
      </div>
    </div>
  </div>



</section>

<script src="/js/services/admin/getPlanesEval.js"></script>