<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="row">
        <div class="col pb-4">
          <a class="btn btn-outline-primary" href="/cuatrimestres" role="button">
            <i class="bi bi-arrow-left"></i>
            Regresar
          </a>
        </div>

      </div>

      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Creación de cuatrimestre</h1>

          <!-- Custom Styled Validation -->
          <form class="row g-3 needs-validation" novalidate action="/cuatrimestres/nuevo" method="post">

            <div class="col-md-4">
              <label for="validationinicial" class="form-label">Año inicial</label>
              <input 
                name="inicial"
                type="number" 
                class="form-control" 
                onkeyup="javascript:this.value=this.value.toUpperCase();"
                maxlength="4" 
                placeholder="Año inicial"
                required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-md-4">
              <label for="validationfinal" class="form-label">Año final</label>
              <input 
                name="final"
                type="number" 
                class="form-control" 
                onkeyup="javascript:this.value=this.value.toUpperCase();" 
                maxlength="4" 
                placeholder="Año final"
                required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-md-3">
              <label for="validationperiodo" class="form-label">Período</label>
              <select class="form-control" required name="periodo">
                <option disabled selected>Seleccione una opción</option>
                <option value="1">SEP-DIC</option>
                <option value="2">ENE-ABR</option>
                <option value="3">MAY-AGO</option>
                <option value="0">ASPIRANTES</option>
                <option value="4">EGRESADOS TSU</option>
                <option value="5">EGRESADOS LIC</option>
              </select>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-md-8">
              <label for="validationdescripcion" class="form-label">Descripción del cuatrimestre</label>
              <input 
                name="descripcion" 
                maxlength="50"
                type="text" 
                class="form-control" 
                placeholder="Descripción del cuatrimestre" 
                required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-md-4">
              <label for="validationcodigo" class="form-label">Código corto</label>
              <input 
                name="codigo_corto"
                type="text" 
                class="form-control" 
                onkeyup="javascript:this.value=this.value.toUpperCase();" 
                maxlength="30" 
                placeholder="Código corto"
                required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="col-6">
              <label for="inputfechainicio" class="form-label">Fecha de inicio</label>
              <div class="col-md-8" style="padding-right: 0px">
                <input class="form-control" name="fecha_inicial" onblur="calcularEdad(this.value)" name="fecha_inicio"
                  required type="date">
              </div>
              <div class="col-md-4" style="padding-left: 0px">
              </div>
            </div>

            <div class="col-6">
              <label for="inputfechatermino" class="form-label">Fecha de término</label>
              <div class="col-md-8" style="padding-right: 0px">
                <input class="form-control" name="fecha_final" onblur="calcularEdad(this.value)" name="fecha_termino"
                  required type="date">
              </div>
              <div class="col-md-4" style="padding-left: 0px">
              </div>
            </div>

            <!-- End Quill Editor Default -->

            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>

            </div>
          </form>
        </div>


      </div>

    </div>
  </div>
</section>