<div class="container">

  <div class="pb-3 d-flex justify-content-between">
    {{>btnBack}}
  </div>

  <div class="card">
    <div class="card-body">
      
      <div class="card-title text-center">
        <h2>Agregar grupo</h2>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label for="" class="form-label">Inicial:</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
          <label for="" class="form-label">Final:</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
          <label for="" class="form-label">Periodo:</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="" class="form-label">Codigo grupo:</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
          <label for="" class="form-label">Nivel:</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
          <label for="" class="form-label">Grado:</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
          <label for="" class="form-label">Grupo:</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-4">
          <label for="" class="form-label">Cupo maximo:</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="pt-3 text-center">
        <button class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>

</div>