<section class="section">
  <style>
    .hidden {
      display: none !important;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      color: #333;
    }

    .card {
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

    .card-title h1 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .card-body {
      padding: 20px;
    }

    .group-code-and-professor {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .professor-info {
      display: flex;
      align-items: center;
    }

    .professor-info img {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    .asignatura-list {
      list-style: none;
      padding: 0;
      margin: 0;
      max-height: 600px;
      overflow-y: auto;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    .asignatura-item {
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #ddd;
      transition: background-color 0.3s, font-weight 0.3s;
    }

    .asignatura-item:hover {
      background-color: #f0f0f0;
    }

    .asignatura-item.selected {
      background-color: #911820;
      color: #ffffff;
    }

    .table-responsive {
      margin-top: 20px;
    }

    #loader {
      display: none;
      margin-top: 20px;
    }

    #eval-select {
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      border: 2px solid #911820;
      border-radius: 5px;
      background-color: #fff;
      appearance: none;
    }

    /* Estilo para los botones cuadrados */
    .btn {
      padding: 12px 20px;
      border-radius: 0;
      font-size: 14px;
      transition: background-color 0.3s ease;
    }

    .btn-primary {
      color: #fff;
      background-color: #911820;
      border-color: #911820;
    }

    .btn-primary:hover {
      color: #fff;
      background-color: #7c1517;
      border-color: #911820;
    }

    .btn-custom-download {
      background-color: #911820;
      color: white;
      border: none;
      font-size: 16px;
      padding: 12px 30px;
      transition: background-color 0.3s ease;
    }

    .btn-custom-download:hover {
      background-color: #7c1517;
    }

    /* Estilos para la tabla */
    .table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    .table th,
    .table td {
      padding: 12px 15px;
      text-align: center;
      border: 1px solid #ddd;
    }

    .table thead {
      background-color: #911820;
      color: white;
    }

    .table tbody tr:hover {
      background-color: #f5f5f5;
    }

    .clearfix::after {
      content: "";
      display: table;
      clear: both;
    }

    .left-column {
      float: left;
      width: 26%;
      margin-right: 20px;
    }

    /* Estilo para el botón de descarga flotante */
    #botonDescargarExcel {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;
      padding: 12px 20px;
      border-radius: 5px;
      font-size: 16px;
      display: flex;
      align-items: center;
    }

    /* Icono del botón */
    #botonDescargarExcel i {
      margin-right: 8px;
    }


    /* Estilo para la tabla */
    /* Ajustes para hacer la tabla responsiva */
    .table-responsive {
      margin-top: -20px;
      display: flex;
      justify-content: flex-end;
      /* Centrar la tabla a la derecha */
      overflow-x: auto;
      /* Permite desplazamiento horizontal si es necesario */
    }

    .table {
      width: 100%;
      max-width: 100%;
      table-layout: fixed;
      /* Evita que la tabla se estire al hacer zoom */
      border-collapse: collapse;
    }

    .table th,
    .table td {
      padding: 12px 15px;
      text-align: left;
      /* Alinear los textos a la izquierda */
      border: none;
      /* Eliminar bordes */
      word-wrap: break-word;
      /* Permite que el texto largo se ajuste */
      min-width: 100px;
      /* Establecer un ancho mínimo */
    }

    .table thead {
      background-color: #911820;
      color: white;
    }

    .table tbody tr:hover {
      background-color: #f5f5f5;
    }

    .table td,
    .table th {
      font-size: 14px;
    }

    /* Agregar un estilo para que el contenido sea más flexible */
    .table th {
      text-align: left;
      padding: 12px 15px;
      white-space: nowrap;
      /* Evita que el texto se desborde */
    }

    .table td {
      padding: 12px 15px;
      text-align: left;
      max-width: 300px;
      /* Definir un ancho máximo para que las celdas no se estiren demasiado */
    }
  </style>

  <div class="col-lg-12">
    <!-- Botón de regreso -->
    <div class="pb-3 d-flex justify-content-between">
      {{>btnBack}}
    </div>

    <!-- Botón para descargar Excel -->
    <button onclick="descargarTablaExcel()" id="botonDescargarExcel" class="btn btn-custom-download">
      <i class="bi bi-file-earmark-excel"></i> Descargar
    </button>

    <!-- Información del grupo y profesor -->
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <div class="group-code-and-professor">
            <h1>Grupo {{codigo_grupo}}</h1>
            <div class="professor-info">
              <h1 id="claveProfesor"></h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Selección de evaluación -->
    <select id="eval-select">
      <option value="">Seleccione una evaluación</option>
    </select>

    <!-- Lista de asignaturas -->
    <div class="left-column">
      <div class="card">
        <div class="card-body">
          <h5>Asignaturas</h5>
          <ul id="asignatura-list" class="asignatura-list"></ul>
        </div>
      </div>
    </div>

    <!-- Tabla de estudiantes y calificaciones -->
    <div class="card" style="float: right; width: 72%;">
      <div class="card-body">
        <div class="container">
          <input type="hidden" id="idGrupo" value="{{codigo_grupo}}">

          <form id="formCalif">
            <!-- Acciones del formulario -->
            <div class="d-flex justify-content-between align-items-center mb-3">
              <button class="btn btn-primary">Guardar</button>
              <div>
                <input id="input" type="file" accept=".xlsx, .xls, .csv" class="form-control" />
                <small id="info_excel" class="text-muted"></small>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr style="background-color: #911820;">
                    <th>#</th>
                    <th>Nombre completo</th>
                    <th>Matrícula</th>
                    <th>Calificación</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="table-container"></tbody>
              </table>
              <div class="text-center" id="loader">
                <div class="spinner-border"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/services/admin/getGruposAlumnosCalifi.js"></script>
<script src="/js/FileSaver.js"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="/js/services/profe/Exel_js/ExportaExelGrupoAdmin.js"></script>