<section class="container">
 <div class="mb-3">
    {{>btnBack}}
  </div>

  <div id="container" class="row d-none">

    <div class="d-flex flex-row-reverse pb-3">
      <a class="btn btn-outline-primary" href="/grupos/crear">Crear grupo</a>
    </div>

    <div class="col-lg-12">
      <div class="card">

        <div class="text-center" style="padding: 13px;">
          <h1><i class="bi bi-people"></i><span>Grupos</span></h1>
        </div>

        <div class="card-body">
          <div class="container">

            <div class="d-flex w-100">

              <div class="flex-fill">
                <div class="input-group mb-1">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bi bi-search"></i>
                    </span>
                  </div>
                  <input type="search" class="form-control" placeholder="Buscar por codigo del grupo" id="buscar">
                </div>
              </div>

              <div>
                <div class="dropdown">
                  <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Ordenar
                  </button>
                  <ul class="dropdown-menu">

                    <li class="dropdown-item">
                      <input class="form-check-input" type="radio" id="orderApe" name="orderBy" checked
                        onchange="handleOrder('codigo_carrera')">
                      <label class="form-check-label" for="orderApe">
                        Codigo carrera
                      </label>
                    </li>

                    <li class="dropdown-item">
                      <input class="form-check-input" type="radio" id="orderName" name="orderBy"
                        onchange="handleOrder('codigo_grupo')">
                      <label class="form-check-label" for="orderName">
                        Codigo grupo
                      </label>
                    </li>

                    <li class="dropdown-item">
                      <input class="form-check-input" type="radio" id="orderMatri" name="orderBy"
                        onchange="handleOrder('grupo')">
                      <label class="form-check-label" for="orderMatri">
                        Grupo
                      </label>
                    </li>

                    <li class="border-top"></li>


                    <li class="dropdown-item">
                      <input class="form-check-input" type="radio" id="orderDesc" name="sort" checked
                        onchange="handleSort('asc')">
                      <label class="form-check-label" for="orderDesc">
                        Ascendente
                      </label>
                    </li>

                    <li class="dropdown-item">
                      <input class="form-check-input" type="radio" id="orderAsc" name="sort"
                        onchange="handleSort('desc')">
                      <label class="form-check-label" for="orderAsc">
                        Descendente
                      </label>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

            <!-- Table with stripped rows -->
            <div class="table-responsive">
              <table align="center" class="table table-hover">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo carrera</th>
                    <th scope="col">Codigo grupo</th>
                    <th scope="col">Cuatri</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Inscritos</th>
                    <th scope="col">Tutor</th>
                    

                  </tr>
                </thead>

                <tbody id="table-container"></tbody>

              </table>

              <div class="d-flex justify-content-center pb-2">
                <div class="spinner-border" role="status" id="load" style="display: none;"></div>
              </div>
            </div>

            <div class="text-center">
              <button onclick="prev()" class="btn btn-outline-warning"><i class="bi bi-arrow-left"></i></button>
              <button onclick="next()" class="btn btn-outline-warning"><i class="bi bi-arrow-right"></i></button>
            </div>
            <!-- End Table with stripped rows -->
          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="preloader"></div>
</section>

<script src="/js/services/admin/getGrupos.js"></script>