<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Control Escolar</title>

  <!-- Favicons -->
  <link href="/imgs/favicon.jpg" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="/css/main.css">

  <script src="/js/helpers/formatDate.js"></script>
  <script src="/js/debounce.js"></script>

</head>

<body>

  {{#if isAuthenticated }}
  {{>navbar}}

  {{#if isAspirante}}
  {{>navegation-aspirante }}
  {{/if}}

  {{#if isAdmin}}
  {{>navegation-admin }}
  {{/if}}

  {{#if isAlumno}}
  {{>navegation-alumno }}
  {{/if}}

  {{#if isProfe}}
  {{>navegation-profe }}
  {{/if}}

  {{/if }}

  <main id="main" class="main" style="min-height: 75vh">
    {{{body}}}
  </main><!-- End #main -->

  {{#if isAuthenticated}}
  <footer id="footer" class="footer">
    <div class="copyright">
      © Copyright <strong><span>Universidad Tecnológica del Poniente - UTP</span></strong>. All Rights Reserved.
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Development by <a href="https://bootstrapmade.com/">FabianCaamal</a>
      
      Development by <a href="https://bootstrapmade.com/">TerriKU</a>
    </div>
  </footer>
  {{/if}}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Template Main JS File -->
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
  <script src="/js/loading.js"></script>

  {{#if isAuthenticated}}
  <script src="https://unpkg.com/read-excel-file@5.x/bundle/read-excel-file.min.js"></script>
  {{/if}}

</body>

</html>