{{#if msj_good}}

<div id="msj" class="alert alert-primary alert-dismissible fade show position-relative" role="alert">
    {{msj_good}}

    <button id="close" type="button" class="position-absolute" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script>
    const btn = document.getElementById('close');
    const msj = document.getElementById('msj');

    btn.addEventListener('click', () => msj.style.display = 'none');
</script>

{{/if}}