  <!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="/">
        <i class="bi bi-grid"></i>
        <span>Inicio</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Alumno</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          
        <li>
          <a href="/perfil" target="_blank">
            <i class="bi bi-circle"></i><span>Datos personales</span>
          </a>
        </li>

        <li>
          <a href="/BoletasAlumnos">
            <i class="bi bi-circle"></i><span>Boletas</span>
          </a>
        </li>

        <li>
          <a href="/doctos">
            <i class="bi bi-circle"></i><span>Documentos</span>
          </a>
        </li>

        <li>
          <a href="/reinscrip-cion">
            <i class="bi bi-circle"></i><span>Reinscripción</span>
          </a>
        </li>

        <li>
          <a href="/titulacion">
            <i class="bi bi-circle"></i><span>Estadias</span>
          </a>
        </li>

         <li>
          <a href="/titulacion">
            <i class="bi bi-circle"></i><span>Titulación</span>
          </a>
        </li>
          
        <li>
          <a href="https://utponiente.edu.mx/utp/doctos/CALENDARIO%20ESCOLAR%20UTP%202023-2024_FIRMADO.pdf" target="_blank">
            <i class="bi bi-circle"></i><span>Calendario Escolar</span>
          </a>
        </li>
        
        <li>
          <a href="http://www.utponiente.edu.mx/utp/reglamento.php" target="_blank">
            <i class="bi bi-circle"></i><span>Reglamento Escolar</span>
          </a>
        </li>

        <li>
          <a href="https://controlescolarutp.wixsite.com/utp-yucatan/aviso-de-privacidad" target="_blank">
            <i class="bi bi-circle"></i><span>Aviso de Privacidad</span>
          </a>
        </li>

        <li>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdNuf2y0l21Qbh1E6fBZaCXgG7t8GRHwYuvsnB7NA6DnMIfDQ/viewform" target="_blank">
            <i class="bi bi-circle"></i><span>Solicitar Constancias</span>
          </a>
        </li>
          
      </ul>
    </li>
    
    <!-- End Forms Nav -->

    <li class="nav-heading">Otro</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="http://www.utponiente.edu.mx/" target="_blank">
        <i class="bi bi-person"></i>
        <span>Utponiente</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-question-circle"></i>
        <span>Preguntas frecuentes</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/contactar">
        <i class="bi bi-envelope"></i>
        <span>Contactar</span>
      </a>
    </li><!-- End Contact Page Nav -->

  </ul>

</aside><!-- End Sidebar-->