<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="/">
        <i class="bi bi-grid"></i>
        <span>Inicio</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#alumnos_admin" data-bs-toggle="collapse" href="#">
        <i class="bi bi-people-fill"></i><span>Alumnos</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="alumnos_admin" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        <li>
          <a href="/alumnos/nuevo">
            <i class="cbi bi-circle"></i><span>Nuevo Alumno</span>
          </a>
        </li>

        <li>
          <a href="/alumnos">
            <i class="cbi bi-circle"></i><span>Listado</span>
          </a>
        </li>

        <li>
          <a href="/grupos">
            <i class="cbi bi-circle"></i><span>Grupos</span>
          </a>
        </li>

      </ul>
    </li><!-- End Forms Nav -->
<li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#calificacion" data-bs-toggle="collapse" href="#">
        <i class="bi bi-pencil-fill"></i><span>Calificaciones</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="calificacion" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        <li>
          <a href='/GruposCalifi'>
            <i class="cbi bi-circle"></i><span>Calificacion X Grupo</span>
          </a>
        </li>

        <li>
          <a href='/profesores'>
            <i class="cbi bi-circle"></i><span>Calificacion X Maestro</span>
          </a>
        </li>

        <li>
          <a href='/alumnos'>
            <i class="cbi bi-circle"></i><span>Calificacion X Alumno</span>
          </a>
        </li>

      </ul>
    </li><!-- End Forms Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#personal" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-badge"></i><span>Personal</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="personal" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        <li>
          <a href="forms-aspirantes.html">
            <i class="cbi bi-circle"></i><span>Listado</span>
          </a>
        </li>

        <li>
          <a href="forms-aspirantes.html">
            <i class="cbi bi-circle"></i><span>Administrativos</span>
          </a>
        </li>

        <li>
          <a href="/profesores">

            <i class="cbi bi-circle"></i><span>Profesores</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#academico" data-bs-toggle="collapse" href="#">
        <i class="bi bi-book"></i><span>Académico</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="academico" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        <li>
          <a href="/academico/planes">
            <i class="cbi bi-circle"></i><span>Planes de estudio</span>
          </a>
        </li>

        <li>
          <a>
            <i class="cbi bi-circle"></i><span>Calificaciones</span>
          </a>
          <ul>

            <li>
              <a href="/calificaciones">
                <i class="cbi bi-circle"></i><span>Subir calificaciones</span>
              </a>
            </li>

          </ul>

        </li>

      </ul>
    </li><!-- End Forms Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#escolares" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bank2"></i><span>Escolares</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="escolares" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        <li>
          <a href="alumno-index.php">

            <i class="cbi bi-circle"></i><span>Inscripciones</span>
          </a>
        </li>


        <li>
          <a href="forms-reinscrip.php">
            <i class="cbi bi-circle"></i><span>Correos masivos</span>
          </a>
        </li>
        <li>
          <a href="forms-aspirantes.html">
            <i class="cbi bi-circle"></i><span>Titulación</span>
          </a>
        </li>

      </ul>
    </li><!-- End Forms Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#vinculacion" data-bs-toggle="collapse" href="#">
        <i class="bi bi-arrow-left-right"></i><span>Vinculación</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="vinculacion" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        <li>
          <a href="alumno-index.php">

            <i class="cbi bi-circle"></i><span>Estadías</span>
          </a>
        </li>
        <li>
          <a href="forms-aspirantes.html">
            <i class="cbi bi-circle"></i><span>Villas</span>
          </a>
        </li>

      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#configuracion" data-bs-toggle="collapse" href="#">
        <i class="bi bi-tools"></i><span>Configuración general</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="configuracion" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        <li>
          <a href="/cuatrimestres">

            <i class="cbi bi-circle"></i><span>Cuatrimestres</span>
          </a>
        </li>


       <li>
          <a href="/cuatrimestres">

            <i class="cbi bi-circle"></i><span>Cuatrimestres</span>
          </a>
          <li>
             <ul>
              <a href="/Cuatri-Calific">
                 <i class="cbi bi-circle"></i><span>Calificaciones</span>
              </a>
             </ul>
          </li>
           
           <li>
             <ul>
              <a href="/Cuatri-Reins">
                 <i class="cbi bi-circle"></i><span>Reinscripciones</span>
              </a>
             </ul>
          </li>

           <li>
             <ul>
              <a href="/Cuatri-Estadia">
                 <i class="cbi bi-circle"></i><span>Estadías</span>
              </a>
             </ul>
          </li>
                
                 <li>
             <ul>
              <a href="/Cuatri-NIngreso">
                 <i class="cbi bi-circle"></i><span>Nuevo Ingreso</span>
              </a>
             </ul>
          </li>
                
        </li>

        <li>
          <a href="forms-aspirantes.html">
            <i class="cbi bi-circle"></i><span>Cajas</span>
          </a>
        </li>

        <li>
          <a href="forms-aspirantes.html">
            <i class="cbi bi-circle"></i><span>Cuentas bancarias</span>
          </a>
        </li>

      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-heading">Páginas</li>

    <li class="nav-item">
      <a class="nav-link " href="http://www.utponiente.edu.mx/" target="_blank">
        <i class="bi bi-person"></i>
        <span>Utponiente</span>
      </a>
    </li><!-- End Profile Page Nav -->



  </ul>

</aside>
<!-- End Sidebar-->