<link rel="stylesheet" href="css/login.css">

<div class="w-100 d-flex justify-content-center align-items-center"
  style="padding-top: 8%; left: 0%; position: absolute;">
  <div class="card w-75" style="max-width: 620px;">

    <div class="card-title text-center">
      <h1>Bienvenido</h1>
    </div>

    <div class="card-body px-5">

      {{>msj_error}}

      <form id="form" action="login" method="post" class="d-flex flex-column justify-content-center">
        <div>
          <label for="matricula" class="form-label">Matricula</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <div class="icon">
                  <i class="bi bi-person"></i>
                </div>
              </div>
            </div>
            <input type="text" class="form-control" name="matricula" id="matricula" required>
          </div>
        </div>

        <div>
          <label for="pass" class="form-label">Contrase침a</label>
          <div class="input-group mb-2 ">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <div class="icon">
                  <i class="bi bi-key"></i>
                </div>
              </div>
            </div>
            <input type="password" class="form-control" name="password" id="pass">

            <button id="show-pass" class="btn-show" type="button"><span class="bi bi-eye"></span></button>

          </div>
        </div>

        <div class="pt-1">
          <a href="#">Olvidaste tu contrase침a?</a>
        </div>

        <div class="pt-3 text-center">
          <button type="submit" class="btn btn-outline-primary">Iniciar sesi칩n</button>
        </div>

      </form>
    </div>
  </div>
</div>

<script>
  const form = document.getElementById("form");
  const inputPass = document.getElementById("pass");
  const btnShow = document.getElementById("show-pass");

  // Muestra y oculta la contrase침a
  btnShow.addEventListener("click", () => {
    inputPass.type === "password"
      ? (inputPass.type = "text")
      : (inputPass.type = "password");
  });
</script>