<section>

  <div class="pb-4">
    <a href="/calificaciones/subir" class="btn btn-outline-primary">Regresar</a>
  </div>

  <div class="card">
    <div class="card-title text-center">
      <h1>Calificaciones del grupo {{cod_grupo}}</h1>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <label for="asignatura" class="form-label">Asignatura</label>
          <select name="" id="asignatura" class="form-select">
            <option disabled selected>Seleccione la asignatura</option>
          </select>
        </div>
        <div class="col-md-5">
          <label for="asignatura" class="form-label">Evaluación</label>
          <select name="" id="asignatura" class="form-select">
            <option disabled selected>Seleccione la evaluacion</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="asignatura" class="form-label">Subir</label>
          <input type="file" class="form-control">
        </div>
      </div>

      <hr>

      <div class="pt-2">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Matricula</th>
              <th>Calif. Ordinario</th>
              <th>% Asistencia</th>
            </tr>
          </thead>
          <tbody id="table-body">
          </tbody>
        </table>
      </div>

    </div>

  </div>
</section>