<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Integral de Información Institucional</title>
  <link rel="stylesheet" href="/css/Styeles_ciclos.css">
</head>

<body onload="mostrarCiclosFiltrados()">

  <div class="container">
        <h1>Edicion de ciclos</h1>


    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>INICIAL</th>
            <th>FINAL</th>
            <th>PERIODO</th>
            <th>FUNCION_CICLOS</th>
            <th>BLOQUEAR</th>
          </tr>
        </thead>
        <tbody id="ciclosContainer">
          <!-- Aquí se mostrarán los ciclos filtrados -->
        </tbody>
      </table>
    </div>
  </div>

  <script src="/js/services/admin/Calificaciones_admin/calificacionesC.js"></script>

</body>

</html>